{% spaceless %}
{% extends "back/subLayout.twig" %}

{% block subBody %}
{# @todo: fill changelog #}
    <h2>r X.y</h2>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>...</li>
    </ul>
{% endblock %}
{% endspaceless %}
